<!-- The core Firebase JS SDK is always required and must be listed first -->
script(src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js")
script(src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js")
script(src="https://www.gstatic.com/firebasejs/7.5.0/firebase-database.js")
<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
script(src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js")
script.
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyB6MBHpgCNs2XeuNdr8QPvF7GsNT_SsBko",
      authDomain: "project-trendy-color-spring.firebaseapp.com",
      databaseURL: "https://project-trendy-color-spring.firebaseio.com",
      projectId: "project-trendy-color-spring",
      storageBucket: "project-trendy-color-spring.appspot.com",
      messagingSenderId: "1022152638833",
      appId: "1:1022152638833:web:7ee487a0e598f2dbe6b6d0",
      measurementId: "G-V1PVE118Q9"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
script(src=`${DIR}js/vendor.js`)
script(src=`${DIR}js/script.js`)