.mouse-pointer.sp-hide
  .mouse-pointer__point
  .mouse-pointer__vote
    .mouse-pointer__vote-inner
      <svg viewBox="10,10,180,180">
        <defs>
          <path id="circlePath" d="M 25,100 A 75,75 0 1,1 175,100 A 75,75 0 1,1 25,100 z" />
        </defs>
        <g>
          <text x="10" y="10">
            <textPath xlink:href="#circlePath">BLEND NOW!  BLEND NOW!  BLEND NOW! BLEND NOW!  BLEND NOW!  BLEND NOW!</textPath>
          </text>
        </g>
        <use xlink:href="#circlePath" fill="none" />
      </svg>
  .mouse-pointer__irritate
    .mouse-pointer__irritate-inner
      <svg viewBox="10,10,180,180">
        <defs>
          <path id="circlePath" d="M 25,100 A 75,75 0 1,1 175,100 A 75,75 0 1,1 25,100 z" />
        </defs>
        <g>
          <text x="10" y="10">
            <textPath xlink:href="#circlePath">KEEP SCROLLING!  KEEP SCROLLING!  KEEP SCROLLING!!!!!!!!!!!!!!!!</textPath>
          </text>
        </g>
        <use xlink:href="#circlePath" fill="none" />
      </svg>