include ./_config.pug
doctype html
html(lang="ja")
  head
    include ./_include/_inc_meta.pug

  body(class=KEY)
    include ./_include/_inc_pointer.pug
    .thankyou
      .thankyou__inner
        p.thankyou__title Thank you for blending!
          br
          | Please wait.
        .thankyou__bar

    main.wrapper(role="main")
      block contents

    //- include ./_include/_inc_footer.pug
    include ./_include/_inc_js.pug