extends _layout.pug

block append params
  -
    KEY = "top";//このKEYはbodyタグにクラス付与されます。条件判定に使用しているためtopのみ変更不可
    URL = "index.html"//このページのドメイン以下のパスを入力
    OG = "share.png";//og画像の画像名を拡張子まで入力
    DIR = "./";//このページで使用するパスを記入。例えば第二階層なら「../」になる。
    TITLE = "Trendy Color Spring";
    DESCRIPTION = "流行色を、民主化しよう。";
    KEYWORDS = "";

block contents
  h1 firebase databaseの簡易テスト
  input(type="text" id="message_input")
  p(id="message_output")
  .color-picker-wrap
    .color-picker